<div class="well">
  <div class="row">
    <div class="col-xs-8">
      <h4><%= order_item.product.title %></h4>
      <div id='img'><img src=<%= order_item.product.image_url %>></div>
    </div>
    <div class="col-xs-4">
      <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency order_item.unit_price %></span></h4>
      <h4 class="text-right">Quantity: <span> <%= order_item.quantity %> </span></h4>
          <%= hidden_field :product_id, value: product.id %>
      <h4 class="text-right">Total Price: <span style="color: green"><%= number_to_currency order_item.total_price %></span></h4>
    </div>
  </div>
</div>