<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @order_items.size == 0 %>
  <p class="text-center">
    You haven't added any items to your shopping cart yet!
    <span class="btn btn-primary"><%= link_to 'Back to Products', '/' %></span>
  </p>
<% else %>
  <button type="button" class="btn btn-primary"><%= link_to 'Continue shopping', '/' %></button>
  <br>
  <br>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
  <% end %>
  <br>
  <button type="button" class="btn btn-primary"><%= link_to 'Continue shopping', '/' %></button>
  <br>
  <br>
  <div id="checkout" class="text-right">
    <%= render new_charge_path, collection: @subtotal %>
  </div>
<% end %>