<div class="well">
  <div class="row">
    <div class="col-xs-4">
      <h4><%=h link_to truncate(product.title, length: 80), product %></h4>
    </div>
    <div class="col-xs-4">
      <%= form_for order_item, remote: true do |f| %>
        <h4 class="text-right">Unit Price: <span style="color: green"><%= link_to product.price == "0" ? "No pricing info." : number_to_currency(product.price), product %></span></h4>
        <div class="input-group">
            <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
            <div class="input-group-btn">
              <%= f.hidden_field :product_id, value: product.id %>
              <%= f.submit "Add to cart", class: "btn btn-primary" %>
            </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <p><%= link_to image_tag(product.image_url), product %></p>
    </div>
  </div>
</div>

