<p id="notice"><%= notice %></p>

<div class='product-details col-lg-12'>
  <div id='desc' class='col-lg-6'>
    <p id='title'><%= @product.title %></p>
    <strong>Description:</strong>
    
    <% if @list && @desc %>
      <%= @desc %>
      <ul>
        <% @list.each do |item| %>
            <li><%= item %></li>
        <% end %>
      </ul>
    <% else %>
      <%= @product.description %>
    <% end %>

    <%= form_for @order_item, remote: true do |f| %>
      <h4>Unit Price: 
        <span style="color: green">
          <%= @product.price == "0" ? "No pricing info." : number_to_currency(@product.price) %>
        </span>
      </h4>
      <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: @product.id %>
            <%= f.submit "Add to cart", class: "btn btn-primary" %>
          </div>
      </div>
    <% end %>

    <br>
    
    <%= link_to 'Back', products_path %>
  
  </div>

  <div class='col-lg-6 text-right'>
    <img src=<%= @product.image_url %>>
    <p><strong>View on <%= link_to 'Slickdeals', @product.link, target: :_blank %></strong></p>
  </div>

</div>